.row {
    margin: 0 !important;
    padding: 0 !important;
}

#logo-header{
    width: 100%;
    height: 120px;
    background-color: #333F98;
}

#logo-header .logo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 250px;
}

#logo-header .icon i {
    margin-left: 35px;
    margin-top: 35px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#logo-header .icon .user-img {
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -57px;
    margin-left: 150px;
}

#navbar-area .navbar{
   width: 100%;
   height: 75px;
   background-color: #283593;
  
}

#navbar-area .nav-area{

    display: flex;
    justify-content: center;
    margin-left: 330px;
    gap: 60px;
}


#navbar-area .navbar li {
    list-style: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#images .main-img img{
    width: 100%;
    height: 444px;
    margin-top: -70px;
}

#images .main-img h1{
    text-align: center;
    margin-top: -272px;
    color: white;
    font-size: 50px;
    
}

#images .main-img h6{
    text-align: center;
    color: white;
    font-size: 20px;
}